// d-textarea-mc components

@media screen

  .d-textarea-mc
    .d-textarea-mirror
      position absolute
      box-sizing border-box
      left 0
      visibility hidden
      white-space pre-wrap
      word-wrap break-word
      z-index -1

    // Taken from QuillJS
    .d-textarea-cursors
      position absolute
      box-sizing border-box
      left 0
      top 0
      z-index 1
      .cursor
        margin-left -1px
        position absolute
      .cursor-flag
        bottom 100%
        position absolute
        white-space nowrap
        font-family sans-serif // you can customize
        box-shadow 2px 2px 1px rgba(50, 50, 50, .5) // you can customize
        text-shadow 1px 1px 1px rgba(50, 50, 50, .5) // you can customize
      .cursor-name
        display inline-block
        color white
        padding 2px 8px
      .cursor-caret
        height 100%
        position absolute
        min-width 2px
        box-shadow 1px 1px 1px rgba(50, 50, 50, .5) // you can customize
      .cursor.hidden .cursor-flag
        display none
      .cursor.top .cursor-flag
        bottom auto
        top 100%
      .cursor.right .cursor-flag
        right -2px

@media all

  .d-textarea-mc
    display block
    box-sizing border-box !important
    position relative
    overflow hidden
    width 100% // you can overwrite it
    height 100% // you can overwrite it
    // padding & border - you can customize

    textarea
      display block !important // Baginza! :)
      box-sizing border-box !important
      position absolute !important
      top  0 !important
      left 0 !important
      width  100% !important // you can set size to .d-textarea-mc
      height 100% !important // you can set size to .d-textarea-mc
      border none !important // you can set border to .d-textarea-mc
      resize none !important

@media print

  .d-textarea-mc
    .d-textarea-mirror
    .d-textarea-cursors
      display none
